<li>
    <span>{{ author }}</span>{{!--,
    <span>{{ title }}</span>
    <ul>
    {{#times 4}}
        {{#gt ../stars this}}
        <li>★</li>
        {{else}}
        <li>☆</li>
        {{/gt}}
    {{/times}}
    </ul>--}}
</li>
