$bkgd: #efefef;
$frgd: #fafafa;
$text: #222;

$fontSize: 16px;
$fontFamily: /* "HelveticaNeue-UltraLight",
             "Helvetica Neue UltraLight", */
             "HelveticaNeue-Light",
             "Helvetica Neue Light",
             "Helvetica Neue",
             Helvetica,
             Arial,
             "Lucida Grande",
             sans-serif;

body {
    background: $bkgd;
    color: $text;
    font-size: $fontSize;
    font-family: $fontFamily;
}

#page {
    background: $frgd;
}
