$bkgd: #e7e7e7;
$fore: #fafafa;

$dark: #222;
$copy: #444;
$grey: #666;
$lght: #888;

$aDark: rgba(0,0,0,0.8);
$aCopy: rgba(0,0,0,0.6);
$aGrey: rgba(0,0,0,0.4);
$aLght: rgba(0,0,0,0.2);

$fontSize: 16px;
//$fontFamily: "HelveticaNeue-UltraLight",
//             "Helvetica Neue UltraLight",
$fontFamily: "HelveticaNeue-Light",
             "Helvetica Neue Light",
             "Helvetica Neue",
             Helvetica,
             Arial,
             "Lucida Grande",
             sans-serif;

html,
body {
    height: 100%;
}

body {
    background: $bkgd;
    font-size: $fontSize;
    font-family: $fontFamily;
}

main {
    background: $fore;
    box-shadow: 0 0 40px 0 $aCopy;
}

h4 {
    background: purple;
    margin: 0;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:link,
a:visited,
a { color: $grey; }
a:hover,
a.selected { color: $dark; }
a { text-decoration: none; }

//section>ul>li {
//    border-bottom: 1px solid orange;
//    &:last-child { border-bottom: none; }
//}

nav li { text-align: center; }

nav a {
    display: inline-block;
    padding: 1em 0;
    width: 100%;
}

.justify-rwd {
    font-size: 0.1px;
    text-align: justify;

    &>* {
        font-size: $fontSize;
    }

    &:after {
        content: '';
        display: inline-block;
        width: 100%;
    }
}

.flex-container {
    display: flex;
    flex-flow: column nowrap;

    >.flex-item { flex-basis: auto; }
    >.flex-item-fixed { flex: 0 0 auto; }
    >.flex-item-flood { flex: 1 1 auto; }
}

//.flex-item {
//    flex-basis: auto;

//    &.flex-item-fixed { flex-grow: 0; flex-shrink: 0; }
//    &.flex-item-flood { flex-grow: 1; flex-shrink: 1; }
//}

.hlist li { display: inline-block; }

.ratings { float: right; }

.header-nav li {
    width: 79%;

    &.prev,
    &.next { width: 9.5%; }
}

.footer-nav {
    background-image: linear-gradient($aLght, $aLght);
    background-position: center top;
    background-repeat: repeat-y;
    background-size: 1px 1px;
}

.footer-nav li {
    width: 49.5%;
}




















