$bkgd: #e7e7e7;
$fore: #fafafa;

$dark: #222;
$copy: #444;
$grey: #666;
$lght: #888;

html,
body {
    height: 100%;
}

body {
    background: $bkgd;
}

h3 {
    background: purple;
    margin: 0;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section>ul>li {
    border-bottom: 1px solid orange;
    &:last-child { border-bottom: none; }
}

ul ul,
li li { display: inline-block; }

.flex-container {
    display: flex;
    flex-flow: column nowrap;

    >.flex-item { flex-basis: auto; }
    >.flex-item-fixed { flex: 0 0 auto; }
    >.flex-item-flood { flex: 1 1 auto; }
}

//.flex-item {
//    flex-basis: auto;

//    &.flex-item-fixed { flex-grow: 0; flex-shrink: 0; }
//    &.flex-item-flood { flex-grow: 1; flex-shrink: 1; }
//}
