@mixin flex-container {
    display: flex;
    flex-flow: column nowrap;
}

@mixin flex-item { flex-basis: auto; }
@mixin flex-item-fixed { flex: 0 0 auto; }
@mixin flex-item-flood { flex: 1 1 auto; }

@mixin position-sticky {
     position: -webkit-sticky;
     position: -moz-sticky;
     position: -ms-sticky;
     position: -o-sticky;
     position: sticky;
}
