@mixin flex-container {
    display: flex;
    flex-flow: column nowrap;
}

@mixin flex-item { flex-basis: auto; }
@mixin flex-item-fixed { flex: 0 0 auto; }
@mixin flex-item-flood { flex: 1 1 auto; }

@mixin position-sticky {
     position: -webkit-sticky;
     position: -moz-sticky;
     position: -ms-sticky;
     position: -o-sticky;
     position: sticky;
}

@mixin hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@mixin justify-rwd {
    font-size: 0.1px;
    text-align: justify;

    &>* {
        font-size: $fontSize;
    }

    &:after {
        content: '';
        display: inline-block;
        width: 100%;
    }
}
