$headFontFamily: "HelveticaNeue-UltraLight",
                 "Helvetica Neue UltraLight",
                 "HelveticaNeue-Light",
                 "Helvetica Neue Light",
                 "Helvetica Neue",
                 Helvetica,
                 Arial,
                 "Lucida Grande",
                 sans-serif;

$bodyFontFamily: "HelveticaNeue-Light",
                 "Helvetica Neue Light",
                 "Helvetica Neue",
                 Helvetica,
                 Arial,
                 "Lucida Grande",
                 sans-serif;

$fontSize: 16px;

$bkgd: #e7e7e7;
$fore: #fafafa;

$dark: #222;
$copy: #444;
$grey: #666;
$lght: #888;
