$headFontFamily: "Source Code Pro",
                 "Helvetica Neue UltraLight",
                 "HelveticaNeue-Light",
                 "Helvetica Neue Light",
                 "Helvetica Neue",
                 Helvetica,
                 Arial,
                 "Lucida Grande",
                 sans-serif;

$bodyFontFamily: "Yanone Kaffeesatz",
                 "Helvetica Neue Light",
                 "Helvetica Neue",
                 Helvetica,
                 Arial,
                 "Lucida Grande",
                 sans-serif;
$fontcolor: #ffffff;
$fontSize: 16px;

$bkgd: #000000;
$fore: #fafafa;

$dark: #222;
$copy: #444;
$grey: #666;
$lght: #888;
