@import "variables";
@import "mixins";
@import "fonts";

html, body {
    height: 100%%;
}

body {

    background: $bkgd;
    color: $copy;
    font-family: $bodyFontFamily;
    letter-spacing: 3px;
    line-height: 150%;
    text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headFontFamily;
    font-weight: normal;
}

.container {
    @include flex-container;

    min-height: 100%;
}

header, footer {
    @include flex-item-fixed;
    @include position-sticky;

    background: $bkgd ;
    text-align: center;
}

header {

    border-bottom: 1px solid grey;
    top: 0;
}

footer {
    border-top: 1px solid grey;
    bottom: 0;
    color: $copy;
    font-family: $headFontFamily;
}

main {
    @include flex-item-flood;

    min-height: 100%;

    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0px 0px 20px;
}

ul ul,
li li {
    display: inline-block;
}

nav {

    li { text-align: center; }

    a {

        display: inline-block;
        font-family: $headFontFamily;
        padding: 1em 0;
        width: 100%;
    }
}

.list-view li:nth-child(odd) {
    background: $bkgd;
}

menu {
    @include justify-rwd;
    margin: 0;
    padding: 0;

    &>li {
        display: inline-block;
        text-align: center;
        width: 49.5%;
    }

    input {
        @include hidden-accessible;

        &+label { color: $copy; }
        &[checked="checked"]+label {
            background: $bkgd;
            color: $copy;
        }
    }

    label {
        display: inline-block;
        padding: 1em 0;
        width: 100%;
    }

}
