@import "variables";
@import "mixins";

html, body {
    height: 100%%;
}

body {
    color: $copy;
    font-family: $bodyFontFamily;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headFontFamily;
    font-weight: normal;
}

.container {
    @include flex-container;

    min-height: 100%;
}

header, footer {
    @include flex-item-fixed;
    @include position-sticky;

    background: #fff;
    text-align: center;
}

header {
    border-bottom: 1px solid grey;
    top: 0;
}

footer {
    border-top: 1px solid grey;
    bottom: 0;
}

main {
    @include flex-item-flood;

    min-height: 100%;

    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul ul,
li li {
    display: inline-block;
}

nav {
    li { text-align: center; }
    a {
        display: inline-block;
        padding: 1em 0;
        width: 100%;
    }
}

.list-view li:nth-child(odd) {
    background: lightgrey;
}

menu {
    @include justify-rwd;

    margin: 0;
    padding: 0;

    &>li {
        display: inline-block;
        text-align: center;
        width: 49.9%;
    }

    input {
        @include hidden-accessible;

        &+label { color: $lght; }
        &[checked="checked"]+label {
            background: $bkgd;
            color: $dark;
        }
    }

    label {
        display: inline-block;
        padding: 1em 0;
        width: 100%;
    }
}
